

$primary-color:#f6bf9f;
$secondary-color:#dc8cdb;
$text-color:#777777;

// #dc8cdb;
.text-upper{
  position: relative;
  z-index: 2;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #7a7a7a;
}

.text-upper_2{
  margin-top: 10px;
  line-height: 40px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #111;
}

.btn_reg {
  background-image: linear-gradient(
    -145deg,
    rgba(219, 138, 222, 1) 0%,
    rgba(246, 191, 159, 1) 100%
  );
  padding: 12px 30px;
  //   display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
 
}
// float: right;
// font-size: 13px;
// color: #fff;
// background: rgb(219,138,222);
// background: linear-gradient(-145deg, rgba(219,138,222,1) 0%, rgba(246,191,159,1) 100%);
// padding: 12px 30px;
// display: inline-block;
// border-radius: 5px;
// font-weight: 500;
// text-transform: uppercase;
// transition: all .3s;
// transition: all .3s;
// border: none;
// outline: none;

@mixin responsive($breakPoint) {
    @if $breakPoint==tab {
      @media screen and (max-width: 768px) {
        @content;
      }
    }
    @if $breakPoint==phone {
      @media screen and (max-width: 430px) {
        @content;
      }
    }
  }
  
  .hideOnDesktop {
    visibility: hidden;
    @include responsive(tab) {
      visibility: visible;
    }
    @include responsive(phone) {
      visibility: visible !important;
    }
  }
  .hideOnMobile {
    visibility: visible;
    @include responsive(tab) {
      visibility: hidden;
    }
  }
  