@mixin responsive($breakPoint) {
    @if $breakPoint==tab {
        @media screen and (max-width:768px){@content}
    }
    @if $breakPoint==phone {
        @media screen and (max-width:430px){@content}
    }
  
  }
  
.banner {
  background-color: #e5e3e3;
  height: 100vh;
  padding: 1rem;
  width:100% !important;

  @include responsive(tab){
      padding: 0rem;
    }
    
    @include responsive(phone){
        height: auto;
        height: 90vh !important;
  }
}


.side1 {

  padding-top: 6rem;
  padding-left: 6rem;

  @include responsive(tab){

    padding-top: 2rem;
    padding-left: 4rem;
    
  }

  @include responsive(phone){
    padding-top: 1rem;
    padding-left: 2rem;
  }
}
.para1 {
  font-family: "DM Sans";
  color: rgb(16, 24, 26);

  letter-spacing: -1px;
  line-height: 1.2;
}
.para1_text {
  display: block;
  height: auto;
  text-align: left;
  font-weight: 700;
  font-size: 50px;
}
.para2 {
  z-index: 8;
  font-family: "DM Sans";
  display: inline-block;
  height: auto;
  color: rgb(100, 100, 100);
//   width: 546px;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
}

.register_btn {
  padding: 0.8rem 2rem;
  background-color: orangered;
  border-radius: 0.5rem;
  background-color: rgb(38, 30, 22);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;

  &:hover{
    color:rgb(255, 255, 255);
  }
}

._btn {
  margin-top: 1rem;
}
.back{
    padding-left: 10px;
   background-image:url('./../../images/phone.png');
   height:100%;
  background-repeat: no-repeat;
   background-size: contain;
}