@import './../index.scss';

.wrapper{
    min-height: 100vh;
    width: 100%;
	display: flex;
	align-items: center;
	background-image: linear-gradient(
        to right bottom,
        rgba(246, 191, 159, 0.7) 50%,
        rgba(219, 138, 222, 0.7) 50%
      ), url('./../images/wheel.jpg');
	background-size: cover;
    background-repeat: no-repeat;
	background-position:center;

}

.inner {
	// min-width: 861px;
	transform: translateX(47px);
    width:70%;
	margin: 35px;
    margin-left:18%;
    margin-right:18%;
	display: flex;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
	padding: 35px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	
	@include responsive(tab){
		width:90%;
		max-width: 760px;
		transform: translateX(47px);
		margin: 20px;
	
		padding-top: 35px;
		padding-bottom: 35px;
	}
	@include responsive(phone){
	    display: block;
    transform: translateX(0);
    border-radius:10px;
    box-shadow: none;
	padding:10px;
	margin:10px;
    margin-right:0px !important;

	}



	
}


	.img {
		border-radius: 15px;
		transform: translateX(-94px);
        // margin-left:-94px
		
		@include responsive(phone){
			transform: translateX(0px);
			
		}
	

	}


.para1{
    font-size: 25px;
	text-align: center;
	margin-bottom: 21px;
	color: #333;
	text-transform: uppercase;
	font-family: "ElMessiri-SemiBold.ttf";
}

.input{
    height: 47px;
	display: block;
	border: 1px solid #e6e6e6;
	background: none;
	border-radius: 5px;
	padding: 0 19px;
	&:focus {
		border: 1px solid #f4d5cc;
	}
}

.form {
	
	padding-left: -20px;
	min-width: 63.88%;
    
	@include responsive(phone){
		margin-top: 10px;
		padding: 10px;
	}
}


.form_row{
    display: flex;
    
	@include responsive(phone){
		display: grid;
	}


    &_2{
        // grid-column:2/3
        margin-left:10px;
		
		@include responsive(phone){
			
			margin-left:0px
		}
    }

}

.form_control {
	height: 47px;
	display: block;
	border: 1px solid #e6e6e6;
	background: none;
	border-radius: 5px;
	padding: 0 19px;
	&:focus {
		border: 1px solid #f4d5cc;
	}

}
.btn {
	height: 47px;
	width: 174px;
	display: flex;
	border: none;
	color: #fff;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 30px;
	cursor: pointer;
	font-family: "Montserrat-Medium";
	text-transform: uppercase;
	background: #84cde1;
	border-radius: 5px;
	transform: perspective(1px) translateZ(0);
	overflow: hidden;
	transition-duration: 0.5s;
	transition-property: color, background-color;
	i {
		margin-left: 8px;
  		transform: translateZ(0);
	}
	&:hover {
	
		background-color: #17c8f8;
		color: white;
	
	}
}