@import './../../index.scss';


.body{
    // color:$primary-color;
    height:100vh;
    padding:100px 0px;
    margin-top:10%;
    // margin-bottom:10%;
    background-image:url('./../../images/cta-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    @include responsive(tab){
        margin-top:80% ;
        height: auto;
    }

   @include responsive(phone){
    margin-top: 190%;
    height: auto;
   }
}

.para1{
    font-size: 62px;
    font-weight: 800;
    color: #fff;
    line-height: 74px;
    margin-top: 20px;

    @include responsive(tab){
        font-size:50px
    }
    @include responsive(phone){
        font-size:45px
    }
}

.btn{
    font-size: 13px;
    color: $secondary-color;
    background-color: #fff;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
    width:50%;

    text-decoration: none;


    
}

.btn_cont{
    margin-top: 10%;

    @include responsive(tab){
        margin-top: 5%;
    }
}




.wheel{
    height:90vh;
    background-image: url('./../../images/wheel-left-dec.png'),url('./../../images/wheel-right-dec.png');
    background-repeat:no-repeat, no-repeat;
    background-position:top left, bottom right;
    padding: 10px;
    padding-top: 80px;

    @include responsive(phone){
        // height:auto
    }


}


.wheel_para1{
    @extend .text-upper_2;
   text-align:center
}
.span{
    color: $secondary-color;
    // padding-top:;
}
.wheel_para2{
    font-size: 16px;
    font-style: italic;
    line-height: 25px;
    color: #4a4a4a;
}

.wheel_side2{
    // background-image:url('./../../images/wheel.jpg');
    background-image: url('./../../images/wheel.jpg');
    height:100%;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    // background-position: center;
}